--
-- PostgreSQL database dump
--

\restrict qFZknPzaIBn9ARjz79v7lJXGw5CjjukDnBVCyTrKn4WueRhJojPgH9MVehPAmDx

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: fn_audit_logs_immutable(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.fn_audit_logs_immutable() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    RAISE EXCEPTION 'audit_logs rows are immutable — updates and deletes are not permitted';
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_checklist_approvals; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ai_checklist_approvals (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    checklist_id uuid NOT NULL,
    approver_id uuid NOT NULL,
    approver_role character varying(80) NOT NULL,
    step_order smallint NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    comments text,
    actioned_at timestamp with time zone
);


--
-- Name: ai_compliance_checklists; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ai_compliance_checklists (
    id uuid NOT NULL,
    dsr_id uuid NOT NULL,
    validated_by uuid,
    validated_at timestamp with time zone,
    checklist_json jsonb DEFAULT '{}'::jsonb NOT NULL,
    status character varying(30) DEFAULT 'draft'::character varying NOT NULL
);


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    user_id uuid,
    module character varying(60) NOT NULL,
    action character varying(80) NOT NULL,
    entity_type character varying(80),
    entity_id text,
    details jsonb,
    ip_address character varying(45),
    user_agent text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.audit_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: bapd_approvals; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.bapd_approvals (
    id uuid NOT NULL,
    bapd_id uuid NOT NULL,
    approver_id uuid NOT NULL,
    approver_role character varying(60) NOT NULL,
    step_order smallint NOT NULL,
    status character varying(20) NOT NULL,
    comments text,
    actioned_at timestamp with time zone
);


--
-- Name: bapd_records; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.bapd_records (
    id uuid NOT NULL,
    project_id uuid NOT NULL,
    dataset_name character varying(300) NOT NULL,
    dataset_location text NOT NULL,
    retention_policy_id uuid,
    expiry_date date NOT NULL,
    reason text NOT NULL,
    responsible_party_id uuid NOT NULL,
    status character varying(30) NOT NULL,
    pod_file_path text,
    executed_at timestamp with time zone,
    executed_by uuid,
    version smallint NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: data_owner_stewards; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.data_owner_stewards (
    id uuid NOT NULL,
    project_id uuid NOT NULL,
    role_type character varying(50) NOT NULL,
    full_name character varying(200) NOT NULL,
    email character varying(200) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: data_sharing_agreements; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.data_sharing_agreements (
    id uuid NOT NULL,
    title text NOT NULL,
    file_path text,
    validity_start date NOT NULL,
    validity_end date,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: data_sharing_requests; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.data_sharing_requests (
    id uuid NOT NULL,
    tracking_id character varying(30) NOT NULL,
    project_id uuid NOT NULL,
    requester_id uuid NOT NULL,
    dataset_name character varying(300) NOT NULL,
    recipient text NOT NULL,
    purpose text NOT NULL,
    is_ai_use boolean NOT NULL,
    duration_start date NOT NULL,
    duration_end date NOT NULL,
    dsa_id uuid,
    status character varying(30) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: dpia_approvals; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.dpia_approvals (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    dpia_id uuid NOT NULL,
    approver_id uuid NOT NULL,
    approver_role character varying(80) NOT NULL,
    step_order smallint NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    comments text,
    actioned_at timestamp with time zone
);


--
-- Name: dpia_records; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.dpia_records (
    id uuid NOT NULL,
    project_id uuid NOT NULL,
    process_name character varying(300) NOT NULL,
    purpose text NOT NULL,
    data_category text NOT NULL,
    risk_description text NOT NULL,
    mitigation_measures text,
    residual_risk character varying(20),
    likelihood_score smallint,
    impact_score smallint,
    risk_score smallint,
    assessment_date date NOT NULL,
    responsible_party_id uuid NOT NULL,
    status character varying(30) NOT NULL,
    version smallint NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    tracking_id character varying(30),
    governance_json jsonb DEFAULT '{}'::jsonb,
    CONSTRAINT ck_dpia_records_ck_dpia_impact CHECK (((impact_score >= 1) AND (impact_score <= 5))),
    CONSTRAINT ck_dpia_records_ck_dpia_likelihood CHECK (((likelihood_score >= 1) AND (likelihood_score <= 5)))
);


--
-- Name: dq_findings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.dq_findings (
    id uuid NOT NULL,
    result_id uuid NOT NULL,
    severity character varying(20) NOT NULL,
    description text NOT NULL,
    recommendation text,
    status character varying(30) NOT NULL,
    resolved_by uuid,
    resolved_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: dq_gcp_archives; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.dq_gcp_archives (
    id uuid NOT NULL,
    run_id uuid NOT NULL,
    gcs_report_path text,
    bq_dataset character varying(200),
    bq_table character varying(200),
    archived_at timestamp with time zone DEFAULT now() NOT NULL,
    archive_status character varying(30) NOT NULL,
    error_message text
);


--
-- Name: dq_results; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.dq_results (
    id uuid NOT NULL,
    run_id uuid NOT NULL,
    check_name character varying(200) NOT NULL,
    check_type character varying(50) NOT NULL,
    column_name character varying(200),
    status character varying(20) NOT NULL,
    expected_value text,
    actual_value text,
    row_count integer,
    failed_count integer,
    details jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: dq_runs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.dq_runs (
    id uuid NOT NULL,
    project_id uuid NOT NULL,
    run_name character varying(300) NOT NULL,
    dataset_name character varying(300) NOT NULL,
    dataset_location text NOT NULL,
    status character varying(30) NOT NULL,
    total_checks integer NOT NULL,
    passed_checks integer NOT NULL,
    failed_checks integer NOT NULL,
    overall_score numeric(5,2),
    started_at timestamp with time zone,
    completed_at timestamp with time zone,
    triggered_by uuid NOT NULL,
    celery_task_id character varying(200),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: dsr_approvals; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.dsr_approvals (
    id uuid NOT NULL,
    dsr_id uuid NOT NULL,
    approver_id uuid NOT NULL,
    approver_role character varying(80) NOT NULL,
    step_order smallint NOT NULL,
    status character varying(20) NOT NULL,
    comments text,
    actioned_at timestamp with time zone
);


--
-- Name: metadata_records; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.metadata_records (
    id uuid NOT NULL,
    project_id uuid NOT NULL,
    seq_no integer NOT NULL,
    business_users character varying(200) NOT NULL,
    data_domain_table character varying(300) NOT NULL,
    line_of_business character varying(200),
    table_type character varying(50) NOT NULL,
    project_name character varying(300) NOT NULL,
    project_year smallint NOT NULL,
    data_steward text,
    data_owner text,
    data_attribute character varying(300) NOT NULL,
    data_sensitivity character varying(30) NOT NULL,
    data_grouping text,
    business_term text,
    business_definition text,
    definition_status character varying(20) NOT NULL,
    standard_format text,
    is_primary_key boolean,
    is_nullable boolean,
    sample_data text,
    data_type character varying(30),
    data_level character varying(30) NOT NULL,
    updated_date date,
    updated_by text,
    remarks text NOT NULL,
    source_type character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    source_row_count integer
);


--
-- Name: notification_preferences; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notification_preferences (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    module character varying(60) NOT NULL,
    in_app boolean NOT NULL,
    email boolean NOT NULL
);


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notifications (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    module character varying(60) NOT NULL,
    event character varying(80) NOT NULL,
    title character varying(300) NOT NULL,
    body text,
    entity_type character varying(80),
    entity_id text,
    is_read boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: projects; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.projects (
    id uuid NOT NULL,
    project_name character varying(300) NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    customer_name character varying(200) NOT NULL,
    line_of_business character varying(200),
    use_case text,
    project_year smallint NOT NULL,
    project_category character varying(50) NOT NULL,
    is_monetized boolean NOT NULL,
    delivery_manager_id uuid,
    project_manager_id uuid,
    dgo_id uuid,
    metadata_officer_id uuid,
    dq_officer_id uuid,
    pic_data_compliance_id uuid,
    start_date date,
    end_date date,
    project_code character varying(50),
    sme_id uuid
);


--
-- Name: retention_policies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.retention_policies (
    id uuid NOT NULL,
    dataset_type character varying(150) NOT NULL,
    retention_days integer NOT NULL,
    policy_reference text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: roles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.roles (
    id smallint NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.roles_id_seq
    AS smallint
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: ropa_records; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ropa_records (
    id uuid NOT NULL,
    project_id uuid NOT NULL,
    process_name character varying(300) NOT NULL,
    purpose text NOT NULL,
    data_category text NOT NULL,
    data_subject text NOT NULL,
    legal_basis text NOT NULL,
    retention_period character varying(100) NOT NULL,
    recipient text,
    linked_asset_ids character varying[],
    status character varying(30) NOT NULL,
    version smallint NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: user_project_roles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_project_roles (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    role_id smallint NOT NULL,
    project_id uuid,
    assigned_by uuid NOT NULL,
    assigned_at timestamp with time zone DEFAULT now() NOT NULL,
    revoked_at timestamp with time zone
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    full_name character varying(200) NOT NULL,
    email character varying(200) NOT NULL,
    password_hash text NOT NULL,
    is_active boolean NOT NULL,
    last_login_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    "position" character varying(200)
);


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Data for Name: ai_checklist_approvals; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ai_compliance_checklists; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.alembic_version (version_num) FROM stdin;
a4b5c6d7e8f9
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: bapd_approvals; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.bapd_approvals (id, bapd_id, approver_id, approver_role, step_order, status, comments, actioned_at) FROM stdin;
\.


--
-- Data for Name: bapd_records; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.bapd_records (id, project_id, dataset_name, dataset_location, retention_policy_id, expiry_date, reason, responsible_party_id, status, pod_file_path, executed_at, executed_by, version, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: data_owner_stewards; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.data_owner_stewards (id, project_id, role_type, full_name, email, created_at) FROM stdin;
\.


--
-- Data for Name: data_sharing_agreements; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.data_sharing_agreements (id, title, file_path, validity_start, validity_end, created_at) FROM stdin;
\.


--
-- Data for Name: data_sharing_requests; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: dpia_approvals; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: dpia_records; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: dq_findings; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.dq_findings (id, result_id, severity, description, recommendation, status, resolved_by, resolved_at, created_at) FROM stdin;
\.


--
-- Data for Name: dq_gcp_archives; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.dq_gcp_archives (id, run_id, gcs_report_path, bq_dataset, bq_table, archived_at, archive_status, error_message) FROM stdin;
\.


--
-- Data for Name: dq_results; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.dq_results (id, run_id, check_name, check_type, column_name, status, expected_value, actual_value, row_count, failed_count, details, created_at) FROM stdin;
\.


--
-- Data for Name: dq_runs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.dq_runs (id, project_id, run_name, dataset_name, dataset_location, status, total_checks, passed_checks, failed_checks, overall_score, started_at, completed_at, triggered_by, celery_task_id, created_at) FROM stdin;
\.


--
-- Data for Name: dsr_approvals; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: metadata_records; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: notification_preferences; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.notification_preferences (id, user_id, module, in_app, email) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.notifications (id, user_id, module, event, title, body, entity_type, entity_id, is_read, created_at) FROM stdin;
\.


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: retention_policies; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.retention_policies (id, dataset_type, retention_days, policy_reference, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ropa_records; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.ropa_records (id, project_id, process_name, purpose, data_category, data_subject, legal_basis, retention_period, recipient, linked_asset_ids, status, version, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_project_roles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 970, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.roles_id_seq', 11, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: ai_checklist_approvals pk_ai_checklist_approvals; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_checklist_approvals
    ADD CONSTRAINT pk_ai_checklist_approvals PRIMARY KEY (id);


--
-- Name: ai_compliance_checklists pk_ai_compliance_checklists; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_compliance_checklists
    ADD CONSTRAINT pk_ai_compliance_checklists PRIMARY KEY (id);


--
-- Name: audit_logs pk_audit_logs; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT pk_audit_logs PRIMARY KEY (id);


--
-- Name: bapd_approvals pk_bapd_approvals; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bapd_approvals
    ADD CONSTRAINT pk_bapd_approvals PRIMARY KEY (id);


--
-- Name: bapd_records pk_bapd_records; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bapd_records
    ADD CONSTRAINT pk_bapd_records PRIMARY KEY (id);


--
-- Name: data_owner_stewards pk_data_owner_stewards; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.data_owner_stewards
    ADD CONSTRAINT pk_data_owner_stewards PRIMARY KEY (id);


--
-- Name: data_sharing_agreements pk_data_sharing_agreements; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.data_sharing_agreements
    ADD CONSTRAINT pk_data_sharing_agreements PRIMARY KEY (id);


--
-- Name: data_sharing_requests pk_data_sharing_requests; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.data_sharing_requests
    ADD CONSTRAINT pk_data_sharing_requests PRIMARY KEY (id);


--
-- Name: dpia_approvals pk_dpia_approvals; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dpia_approvals
    ADD CONSTRAINT pk_dpia_approvals PRIMARY KEY (id);


--
-- Name: dpia_records pk_dpia_records; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dpia_records
    ADD CONSTRAINT pk_dpia_records PRIMARY KEY (id);


--
-- Name: dq_findings pk_dq_findings; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dq_findings
    ADD CONSTRAINT pk_dq_findings PRIMARY KEY (id);


--
-- Name: dq_gcp_archives pk_dq_gcp_archives; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dq_gcp_archives
    ADD CONSTRAINT pk_dq_gcp_archives PRIMARY KEY (id);


--
-- Name: dq_results pk_dq_results; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dq_results
    ADD CONSTRAINT pk_dq_results PRIMARY KEY (id);


--
-- Name: dq_runs pk_dq_runs; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dq_runs
    ADD CONSTRAINT pk_dq_runs PRIMARY KEY (id);


--
-- Name: dsr_approvals pk_dsr_approvals; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dsr_approvals
    ADD CONSTRAINT pk_dsr_approvals PRIMARY KEY (id);


--
-- Name: metadata_records pk_metadata_records; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.metadata_records
    ADD CONSTRAINT pk_metadata_records PRIMARY KEY (id);


--
-- Name: notification_preferences pk_notification_preferences; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notification_preferences
    ADD CONSTRAINT pk_notification_preferences PRIMARY KEY (id);


--
-- Name: notifications pk_notifications; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT pk_notifications PRIMARY KEY (id);


--
-- Name: projects pk_projects; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT pk_projects PRIMARY KEY (id);


--
-- Name: retention_policies pk_retention_policies; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.retention_policies
    ADD CONSTRAINT pk_retention_policies PRIMARY KEY (id);


--
-- Name: roles pk_roles; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT pk_roles PRIMARY KEY (id);


--
-- Name: ropa_records pk_ropa_records; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ropa_records
    ADD CONSTRAINT pk_ropa_records PRIMARY KEY (id);


--
-- Name: user_project_roles pk_user_project_roles; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_project_roles
    ADD CONSTRAINT pk_user_project_roles PRIMARY KEY (id);


--
-- Name: users pk_users; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT pk_users PRIMARY KEY (id);


--
-- Name: ai_compliance_checklists uq_ai_compliance_checklists_dsr_id; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_compliance_checklists
    ADD CONSTRAINT uq_ai_compliance_checklists_dsr_id UNIQUE (dsr_id);


--
-- Name: dq_gcp_archives uq_dq_gcp_archives_run_id; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dq_gcp_archives
    ADD CONSTRAINT uq_dq_gcp_archives_run_id UNIQUE (run_id);


--
-- Name: retention_policies uq_retention_policies_dataset_type; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.retention_policies
    ADD CONSTRAINT uq_retention_policies_dataset_type UNIQUE (dataset_type);


--
-- Name: roles uq_roles_name; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT uq_roles_name UNIQUE (name);


--
-- Name: ix_ai_checklist_approvals_checklist_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_ai_checklist_approvals_checklist_id ON public.ai_checklist_approvals USING btree (checklist_id);


--
-- Name: ix_audit_logs_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_audit_logs_created_at ON public.audit_logs USING btree (created_at);


--
-- Name: ix_audit_logs_entity_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_audit_logs_entity_id ON public.audit_logs USING btree (entity_id);


--
-- Name: ix_audit_logs_module; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_audit_logs_module ON public.audit_logs USING btree (module);


--
-- Name: ix_bapd_approvals_bapd_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_bapd_approvals_bapd_id ON public.bapd_approvals USING btree (bapd_id);


--
-- Name: ix_bapd_records_project_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_bapd_records_project_id ON public.bapd_records USING btree (project_id);


--
-- Name: ix_bapd_records_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_bapd_records_status ON public.bapd_records USING btree (status);


--
-- Name: ix_data_owner_stewards_project_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_data_owner_stewards_project_id ON public.data_owner_stewards USING btree (project_id);


--
-- Name: ix_data_sharing_requests_project_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_data_sharing_requests_project_id ON public.data_sharing_requests USING btree (project_id);


--
-- Name: ix_data_sharing_requests_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_data_sharing_requests_status ON public.data_sharing_requests USING btree (status);


--
-- Name: ix_data_sharing_requests_tracking_id; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_data_sharing_requests_tracking_id ON public.data_sharing_requests USING btree (tracking_id);


--
-- Name: ix_dpia_approvals_dpia_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_dpia_approvals_dpia_id ON public.dpia_approvals USING btree (dpia_id);


--
-- Name: ix_dpia_records_project_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_dpia_records_project_id ON public.dpia_records USING btree (project_id);


--
-- Name: ix_dpia_records_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_dpia_records_status ON public.dpia_records USING btree (status);


--
-- Name: ix_dpia_records_tracking_id; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_dpia_records_tracking_id ON public.dpia_records USING btree (tracking_id);


--
-- Name: ix_dq_findings_result_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_dq_findings_result_id ON public.dq_findings USING btree (result_id);


--
-- Name: ix_dq_findings_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_dq_findings_status ON public.dq_findings USING btree (status);


--
-- Name: ix_dq_results_run_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_dq_results_run_id ON public.dq_results USING btree (run_id);


--
-- Name: ix_dq_runs_project_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_dq_runs_project_id ON public.dq_runs USING btree (project_id);


--
-- Name: ix_dq_runs_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_dq_runs_status ON public.dq_runs USING btree (status);


--
-- Name: ix_dsr_approvals_dsr_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_dsr_approvals_dsr_id ON public.dsr_approvals USING btree (dsr_id);


--
-- Name: ix_metadata_records_data_attribute; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_metadata_records_data_attribute ON public.metadata_records USING btree (data_attribute);


--
-- Name: ix_metadata_records_data_domain_table; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_metadata_records_data_domain_table ON public.metadata_records USING btree (data_domain_table);


--
-- Name: ix_metadata_records_project_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_metadata_records_project_id ON public.metadata_records USING btree (project_id);


--
-- Name: ix_notification_preferences_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_notification_preferences_user_id ON public.notification_preferences USING btree (user_id);


--
-- Name: ix_notifications_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_notifications_created_at ON public.notifications USING btree (created_at);


--
-- Name: ix_notifications_is_read; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_notifications_is_read ON public.notifications USING btree (is_read);


--
-- Name: ix_notifications_module; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_notifications_module ON public.notifications USING btree (module);


--
-- Name: ix_notifications_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_notifications_user_id ON public.notifications USING btree (user_id);


--
-- Name: ix_projects_customer_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_projects_customer_name ON public.projects USING btree (customer_name);


--
-- Name: ix_projects_project_code; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_projects_project_code ON public.projects USING btree (project_code);


--
-- Name: ix_projects_project_year; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_projects_project_year ON public.projects USING btree (project_year);


--
-- Name: ix_ropa_records_project_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_ropa_records_project_id ON public.ropa_records USING btree (project_id);


--
-- Name: ix_ropa_records_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_ropa_records_status ON public.ropa_records USING btree (status);


--
-- Name: ix_user_project_roles_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_user_project_roles_user_id ON public.user_project_roles USING btree (user_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: audit_logs tg_audit_logs_immutable; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tg_audit_logs_immutable BEFORE DELETE OR UPDATE ON public.audit_logs FOR EACH ROW EXECUTE FUNCTION public.fn_audit_logs_immutable();


--
-- Name: ai_checklist_approvals fk_ai_checklist_approvals_approver_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_checklist_approvals
    ADD CONSTRAINT fk_ai_checklist_approvals_approver_id_users FOREIGN KEY (approver_id) REFERENCES public.users(id);


--
-- Name: ai_checklist_approvals fk_ai_checklist_approvals_checklist_id_ai_compliance_checklists; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_checklist_approvals
    ADD CONSTRAINT fk_ai_checklist_approvals_checklist_id_ai_compliance_checklists FOREIGN KEY (checklist_id) REFERENCES public.ai_compliance_checklists(id) ON DELETE CASCADE;


--
-- Name: ai_compliance_checklists fk_ai_checklist_dsr_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_compliance_checklists
    ADD CONSTRAINT fk_ai_checklist_dsr_id FOREIGN KEY (dsr_id) REFERENCES public.data_sharing_requests(id);


--
-- Name: ai_compliance_checklists fk_ai_checklist_validated_by; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_compliance_checklists
    ADD CONSTRAINT fk_ai_checklist_validated_by FOREIGN KEY (validated_by) REFERENCES public.users(id);


--
-- Name: audit_logs fk_audit_logs_user_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT fk_audit_logs_user_id_users FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: bapd_approvals fk_bapd_approvals_approver_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bapd_approvals
    ADD CONSTRAINT fk_bapd_approvals_approver_id_users FOREIGN KEY (approver_id) REFERENCES public.users(id);


--
-- Name: bapd_approvals fk_bapd_approvals_bapd_id_bapd_records; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bapd_approvals
    ADD CONSTRAINT fk_bapd_approvals_bapd_id_bapd_records FOREIGN KEY (bapd_id) REFERENCES public.bapd_records(id) ON DELETE CASCADE;


--
-- Name: bapd_records fk_bapd_created_by; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bapd_records
    ADD CONSTRAINT fk_bapd_created_by FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: bapd_records fk_bapd_executed_by; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bapd_records
    ADD CONSTRAINT fk_bapd_executed_by FOREIGN KEY (executed_by) REFERENCES public.users(id);


--
-- Name: bapd_records fk_bapd_project_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bapd_records
    ADD CONSTRAINT fk_bapd_project_id FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: bapd_records fk_bapd_responsible_party; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bapd_records
    ADD CONSTRAINT fk_bapd_responsible_party FOREIGN KEY (responsible_party_id) REFERENCES public.users(id);


--
-- Name: bapd_records fk_bapd_retention_policy; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bapd_records
    ADD CONSTRAINT fk_bapd_retention_policy FOREIGN KEY (retention_policy_id) REFERENCES public.retention_policies(id);


--
-- Name: data_owner_stewards fk_dos_project_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.data_owner_stewards
    ADD CONSTRAINT fk_dos_project_id FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: dpia_approvals fk_dpia_approvals_approver_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dpia_approvals
    ADD CONSTRAINT fk_dpia_approvals_approver_id_users FOREIGN KEY (approver_id) REFERENCES public.users(id);


--
-- Name: dpia_approvals fk_dpia_approvals_dpia_id_dpia_records; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dpia_approvals
    ADD CONSTRAINT fk_dpia_approvals_dpia_id_dpia_records FOREIGN KEY (dpia_id) REFERENCES public.dpia_records(id) ON DELETE CASCADE;


--
-- Name: dpia_records fk_dpia_created_by; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dpia_records
    ADD CONSTRAINT fk_dpia_created_by FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: dpia_records fk_dpia_project_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dpia_records
    ADD CONSTRAINT fk_dpia_project_id FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: dpia_records fk_dpia_responsible_party; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dpia_records
    ADD CONSTRAINT fk_dpia_responsible_party FOREIGN KEY (responsible_party_id) REFERENCES public.users(id);


--
-- Name: dq_findings fk_dq_findings_resolved_by; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dq_findings
    ADD CONSTRAINT fk_dq_findings_resolved_by FOREIGN KEY (resolved_by) REFERENCES public.users(id);


--
-- Name: dq_findings fk_dq_findings_result_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dq_findings
    ADD CONSTRAINT fk_dq_findings_result_id FOREIGN KEY (result_id) REFERENCES public.dq_results(id);


--
-- Name: dq_gcp_archives fk_dq_gcp_archives_run_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dq_gcp_archives
    ADD CONSTRAINT fk_dq_gcp_archives_run_id FOREIGN KEY (run_id) REFERENCES public.dq_runs(id);


--
-- Name: dq_results fk_dq_results_run_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dq_results
    ADD CONSTRAINT fk_dq_results_run_id FOREIGN KEY (run_id) REFERENCES public.dq_runs(id);


--
-- Name: dq_runs fk_dq_runs_project_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dq_runs
    ADD CONSTRAINT fk_dq_runs_project_id FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: dq_runs fk_dq_runs_triggered_by; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dq_runs
    ADD CONSTRAINT fk_dq_runs_triggered_by FOREIGN KEY (triggered_by) REFERENCES public.users(id);


--
-- Name: dsr_approvals fk_dsr_approvals_approver_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dsr_approvals
    ADD CONSTRAINT fk_dsr_approvals_approver_id FOREIGN KEY (approver_id) REFERENCES public.users(id);


--
-- Name: dsr_approvals fk_dsr_approvals_dsr_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dsr_approvals
    ADD CONSTRAINT fk_dsr_approvals_dsr_id FOREIGN KEY (dsr_id) REFERENCES public.data_sharing_requests(id);


--
-- Name: data_sharing_requests fk_dsr_dsa_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.data_sharing_requests
    ADD CONSTRAINT fk_dsr_dsa_id FOREIGN KEY (dsa_id) REFERENCES public.data_sharing_agreements(id);


--
-- Name: data_sharing_requests fk_dsr_project_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.data_sharing_requests
    ADD CONSTRAINT fk_dsr_project_id FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: data_sharing_requests fk_dsr_requester_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.data_sharing_requests
    ADD CONSTRAINT fk_dsr_requester_id FOREIGN KEY (requester_id) REFERENCES public.users(id);


--
-- Name: metadata_records fk_metadata_project_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.metadata_records
    ADD CONSTRAINT fk_metadata_project_id FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: notification_preferences fk_notification_preferences_user_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notification_preferences
    ADD CONSTRAINT fk_notification_preferences_user_id_users FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: notifications fk_notifications_user_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT fk_notifications_user_id_users FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: projects fk_projects_created_by; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fk_projects_created_by FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: projects fk_projects_delivery_manager_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fk_projects_delivery_manager_id_users FOREIGN KEY (delivery_manager_id) REFERENCES public.users(id);


--
-- Name: projects fk_projects_dgo_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fk_projects_dgo_id_users FOREIGN KEY (dgo_id) REFERENCES public.users(id);


--
-- Name: projects fk_projects_dq_officer_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fk_projects_dq_officer_id_users FOREIGN KEY (dq_officer_id) REFERENCES public.users(id);


--
-- Name: projects fk_projects_metadata_officer_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fk_projects_metadata_officer_id_users FOREIGN KEY (metadata_officer_id) REFERENCES public.users(id);


--
-- Name: projects fk_projects_pic_data_compliance_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fk_projects_pic_data_compliance_id_users FOREIGN KEY (pic_data_compliance_id) REFERENCES public.users(id);


--
-- Name: projects fk_projects_project_manager_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fk_projects_project_manager_id_users FOREIGN KEY (project_manager_id) REFERENCES public.users(id);


--
-- Name: projects fk_projects_sme_id_users; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fk_projects_sme_id_users FOREIGN KEY (sme_id) REFERENCES public.users(id);


--
-- Name: ropa_records fk_ropa_created_by; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ropa_records
    ADD CONSTRAINT fk_ropa_created_by FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: ropa_records fk_ropa_project_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ropa_records
    ADD CONSTRAINT fk_ropa_project_id FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: user_project_roles fk_upr_assigned_by; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_project_roles
    ADD CONSTRAINT fk_upr_assigned_by FOREIGN KEY (assigned_by) REFERENCES public.users(id);


--
-- Name: user_project_roles fk_upr_project_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_project_roles
    ADD CONSTRAINT fk_upr_project_id FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: user_project_roles fk_upr_role_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_project_roles
    ADD CONSTRAINT fk_upr_role_id FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: user_project_roles fk_upr_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_project_roles
    ADD CONSTRAINT fk_upr_user_id FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: bapd_records; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.bapd_records ENABLE ROW LEVEL SECURITY;

--
-- Name: data_sharing_requests; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.data_sharing_requests ENABLE ROW LEVEL SECURITY;

--
-- Name: dpia_records; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.dpia_records ENABLE ROW LEVEL SECURITY;

--
-- Name: dq_runs; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.dq_runs ENABLE ROW LEVEL SECURITY;

--
-- Name: metadata_records; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.metadata_records ENABLE ROW LEVEL SECURITY;

--
-- Name: bapd_records rls_bapd_project_member; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY rls_bapd_project_member ON public.bapd_records USING ((project_id IN ( SELECT user_project_roles.project_id
   FROM public.user_project_roles
  WHERE ((user_project_roles.user_id = (current_setting('app.current_user_id'::text, true))::uuid) AND (user_project_roles.revoked_at IS NULL)))));


--
-- Name: dpia_records rls_dpia_project_member; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY rls_dpia_project_member ON public.dpia_records USING ((project_id IN ( SELECT user_project_roles.project_id
   FROM public.user_project_roles
  WHERE ((user_project_roles.user_id = (current_setting('app.current_user_id'::text, true))::uuid) AND (user_project_roles.revoked_at IS NULL)))));


--
-- Name: dq_runs rls_dq_runs_project_member; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY rls_dq_runs_project_member ON public.dq_runs USING ((project_id IN ( SELECT user_project_roles.project_id
   FROM public.user_project_roles
  WHERE ((user_project_roles.user_id = (current_setting('app.current_user_id'::text, true))::uuid) AND (user_project_roles.revoked_at IS NULL)))));


--
-- Name: data_sharing_requests rls_dsr_project_member; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY rls_dsr_project_member ON public.data_sharing_requests USING (((project_id IN ( SELECT user_project_roles.project_id
   FROM public.user_project_roles
  WHERE ((user_project_roles.user_id = (current_setting('app.current_user_id'::text, true))::uuid) AND (user_project_roles.revoked_at IS NULL)))) OR (requester_id = (current_setting('app.current_user_id'::text, true))::uuid)));


--
-- Name: metadata_records rls_metadata_project_member; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY rls_metadata_project_member ON public.metadata_records USING ((project_id IN ( SELECT user_project_roles.project_id
   FROM public.user_project_roles
  WHERE ((user_project_roles.user_id = (current_setting('app.current_user_id'::text, true))::uuid) AND (user_project_roles.revoked_at IS NULL)))));


--
-- Name: ropa_records rls_ropa_project_member; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY rls_ropa_project_member ON public.ropa_records USING ((project_id IN ( SELECT user_project_roles.project_id
   FROM public.user_project_roles
  WHERE ((user_project_roles.user_id = (current_setting('app.current_user_id'::text, true))::uuid) AND (user_project_roles.revoked_at IS NULL)))));


--
-- Name: ropa_records; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.ropa_records ENABLE ROW LEVEL SECURITY;

--
-- PostgreSQL database dump complete
--

\unrestrict qFZknPzaIBn9ARjz79v7lJXGw5CjjukDnBVCyTrKn4WueRhJojPgH9MVehPAmDx

